# Series Data Structure

In [11]:
import pandas as pd # Let's import Pandas with pd.

In [12]:
obj=pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [13]:
se = pd.Series([1, "er", 4, "eo"], index = ['a', 'b','c','d'] )

In [14]:
se.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [32]:
se.values

array([1, 'er', 4, 'eo'], dtype=object)

In [15]:
obj[0]

1

In [16]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [17]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [18]:
obj2["b"]

'John'

In [19]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [36]:
dat = {"rgda":43,"bbs":433}

In [37]:
dat

{'rgda': 43, 'bbs': 433}

In [38]:
city = pd.Series(dat)
city

rgda     43
bbs     433
dtype: int64

In [20]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score) # Convert to Series 
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [21]:
names["Tim"]

95

In [41]:
city["rgda"]

43

In [44]:
print(type(city))
city

<class 'pandas.core.series.Series'>

rgda     43
bbs     433
dtype: int64

In [ ]:
city['rgda']

In [42]:
city[city >= 78]

bbs    433
dtype: int64

In [22]:
names[names>=85]

Jane    90
Elon    85
Tim     95
dtype: int64

In [45]:
names["Tom"]=60
names

Jane    90
Bill    83
Elon    85
Tom     60
Tim     95
dtype: int64

In [24]:
names[names<=80]=83
names

Jane    90
Bill    83
Elon    85
Tom     83
Tim     95
dtype: int64

In [25]:
"Tom" in names

True

In [26]:
"Can" in names

False

In [27]:
names/10

Jane    9.0
Bill    8.3
Elon    8.5
Tom     8.3
Tim     9.5
dtype: float64

In [28]:
names**2

Jane    8100
Bill    6889
Elon    7225
Tom     6889
Tim     9025
dtype: int64

In [29]:
names.isnull()

Jane    False
Bill    False
Elon    False
Tom     False
Tim     False
dtype: bool