In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([1,2]*4, columns = ["slno"])

In [5]:
df

   slno
0     1
1     2
2     1
3     2
4     1
5     2
6     1
7     2

In [6]:
df.duplicated().count()

8

In [7]:
df.duplicated()

0    False
1    False
2     True
3     True
4     True
5     True
6     True
7     True
dtype: bool

In [8]:
df.duplicated().sum()

6

In [9]:
df.drop_duplicates()

   slno
0     1
1     2

In [10]:
df["col1"] =  np.arange(8)

In [11]:
df

   slno  col1
0     1     0
1     2     1
2     1     2
3     2     3
4     1     4
5     2     5
6     1     6
7     2     7

In [12]:
df.drop_duplicates()

   slno  col1
0     1     0
1     2     1
2     1     2
3     2     3
4     1     4
5     2     5
6     1     6
7     2     7

In [13]:
df.drop_duplicates(["slno"])

   slno  col1
0     1     0
1     2     1

In [14]:
df.drop_duplicates(["slno","col1"])

   slno  col1
0     1     0
1     2     1
2     1     2
3     2     3
4     1     4
5     2     5
6     1     6
7     2     7

In [15]:
df.drop_duplicates(["slno"], keep = "last")

   slno  col1
6     1     6
7     2     7

In [16]:
temp = pd.read_csv("test_FD001.csv")

In [17]:
temp

,slno,engine,cycles,os1,os2,os3,sm1,sm2,sm3,sm4,...,sm12,sm13,sm14,sm15,sm16,sm17,sm18,sm19,sm20,sm21
0,0,1,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100,38.86,23.3735
1,1,1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100,39.02,23.3916
2,2,1,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100,39.08,23.4166
3,3,1,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100,39.00,23.3737
4,4,1,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100,38.99,23.4130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,13091,100,194,0.0049,0.0000,100,518.67,643.24,1599.45,1415.79,...,520.69,2388.00,8213.28,8.4715,0.03,394,2388,100,38.65,23.1974
13092,13092,100,195,-0.0011,-0.0001,100,518.67,643.22,1595.69,1422.05,...,521.05,2388.09,8210.85,8.4512,0.03,395,2388,100,38.57,23.2771
13093,13093,100,196,-0.0006,-0.0003,100,518.67,643.44,1593.15,1406.82,...,521.18,2388.04,8217.24,8.4569,0.03,395,2388,100,38.62,23.2051
13094,13094,100,197,-0.0038,0.0001,100,518.67,643.26,1594.99,1419.36,...,521.33,2388.08,8220.48,8.4711,0.03,395,2388,100,38.66,23.2699
13095,13095,100,198,0.0013,0.0003,100,518.67,642.95,1601.62,1424.99,...,521.07,2388.05,8214.64,8.4903,0.03,396,2388,100,38.70,23.1855

In [18]:
temp = temp.drop_duplicates(["engine"], keep = "last")

In [19]:
temp

,slno,engine,cycles,os1,os2,os3,sm1,sm2,sm3,sm4,...,sm12,sm13,sm14,sm15,sm16,sm17,sm18,sm19,sm20,sm21
30,30,1,31,-0.0006,0.0004,100,518.67,642.58,1581.22,1398.91,...,521.79,2388.06,8130.11,8.4024,0.03,393,2388,100,38.81,23.3552
79,79,2,49,0.0018,-0.0001,100,518.67,642.55,1586.59,1410.83,...,521.74,2388.09,8126.90,8.4505,0.03,391,2388,100,38.81,23.2618
205,205,3,126,-0.0016,0.0004,100,518.67,642.88,1589.75,1418.89,...,520.83,2388.14,8131.46,8.4119,0.03,395,2388,100,38.93,23.2740
311,311,4,106,0.0012,0.0004,100,518.67,642.78,1594.53,1406.88,...,521.88,2388.11,8133.64,8.4634,0.03,395,2388,100,38.58,23.2581
409,409,5,98,-0.0013,-0.0004,100,518.67,642.27,1589.94,1419.36,...,521.00,2388.15,8125.74,8.4362,0.03,394,2388,100,38.75,23.4117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12545,12545,96,97,-0.0006,0.0003,100,518.67,642.30,1590.88,1397.94,...,522.30,2388.01,8148.24,8.4110,0.03,391,2388,100,38.96,23.4606
12679,12679,97,134,0.0013,-0.0001,100,518.67,642.59,1582.96,1410.92,...,521.58,2388.06,8155.48,8.4500,0.03,395,2388,100,38.61,23.2953
12800,12800,98,121,0.0017,0.0001,100,518.67,642.68,1599.51,1415.47,...,521.53,2388.09,8146.39,8.4235,0.03,394,2388,100,38.76,23.3608
12897,12897,99,97,0.0047,0.0000,100,518.67,642.00,1585.03,1397.98,...,521.82,2388.02,8150.38,8.4003,0.03,391,2388,100,38.95,23.3595
13095,13095,100,198,0.0013,0.0003,100,518.67,642.95,1601.62,1424.99,...,521.07,2388.05,8214.64,8.4903,0.03,396,2388,100,38.70,23.1855

In [20]:
df = pd.DataFrame({"names":["ram", "shyam", "kali"], "rollno":[2,5,6]})

In [21]:
df

   names  rollno
0    ram       2
1  shyam       5
2   kali       6

In [22]:
classes={"ram":"A","shyam":"A","kali":"B"}

In [23]:
classes

{'ram': 'A', 'shyam': 'A', 'kali': 'B'}

In [24]:
n = df["names"]

In [25]:
df["brances"] = n.map(classes)

In [26]:
df

   names  rollno brances
0    ram       2       A
1  shyam       5       A
2   kali       6       B

In [27]:
ca = df["names"].str.capitalize()

In [28]:
ca

0      Ram
1    Shyam
2     Kali
Name: names, dtype: object

In [29]:
s = pd.Series([2,4,5,6])

In [30]:
s

0    2
1    4
2    5
3    6
dtype: int64

In [31]:
s.replace(4, np.nan)

0    2.0
1    NaN
2    5.0
3    6.0
dtype: float64

In [32]:
s

0    2
1    4
2    5
3    6
dtype: int64

In [33]:
s.replace([4,5], [10, 11])

0     2
1    10
2    11
3     6
dtype: int64

In [34]:
s

0    2
1    4
2    5
3    6
dtype: int64

In [35]:
s.index = s.index.map(pd.Series(["one","two", "three", "four"]))

In [39]:
df

   names  rollno brances
0    ram       2       A
1  shyam       5       A
2   kali       6       B

In [41]:
df.rename(index = {0:1,1:2,2:3}, columns = {"names":"stud_names"})

  stud_names  rollno brances
1        ram       2       A
2      shyam       5       A
3       kali       6       B

In [37]:
s.rename("slno")

one      2
two      4
three    5
four     6
Name: slno, dtype: int64

In [38]:
s

one      2
two      4
three    5
four     6
dtype: int64

In [51]:
df = pd.DataFrame(np.random.randn(100, 4))

In [52]:
df

           0         1         2         3
0   0.496924  0.532830 -1.104864  1.038290
1  -1.016327  1.258146 -1.058956  1.576013
2  -1.120244 -0.912335 -0.208569 -0.384250
3  -0.625964  0.191470  2.488512  0.936054
4   0.358766 -0.374664 -2.086480 -0.418438
..       ...       ...       ...       ...
95 -0.721671  0.045200  2.082754  1.268807
96  0.303342 -0.694659 -0.069523  0.671046
97 -2.043283  1.050564 -0.523839  0.460135
98 -1.494149 -0.054819 -2.022834  0.366576
99 -0.886474 -1.033834 -0.291972  1.299905

[100 rows x 4 columns]

In [48]:
?np.random.randint

In [54]:
df1 = pd.DataFrame(np.random.randint(100, size = (5,5)))

In [55]:
df1

    0   1   2   3   4
0  78  79  27  94  38
1  77  67  37  92  19
2  94  97  85  65  85
3  84  16  20  63  43
4  42   7  27  45  31

In [56]:
df1[np.abs(df1) < 50]

      0     1     2     3     4
0   NaN   NaN  27.0   NaN  38.0
1   NaN   NaN  37.0   NaN  19.0
2   NaN   NaN   NaN   NaN   NaN
3   NaN  16.0  20.0   NaN  43.0
4  42.0   7.0  27.0  45.0  31.0

In [60]:
df2 = pd.DataFrame({"letter":["q","r","q","w","r"], "num":[1,4,6,7,8]})

In [61]:
df2

  letter  num
0      q    1
1      r    4
2      q    6
3      w    7
4      r    8

In [63]:
pd.get_dummies(df2["letter"])

   q  r  w
0  1  0  0
1  0  1  0
2  1  0  0
3  0  0  1
4  0  1  0